h1 {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

h3 {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.box {
    width: 500px;
    margin: 24px;
    padding: 32px;
    border: 1px solid black;
    border-radius: 16px;
}

#form-layout {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#form-layout #botao {
    background-color: black;
    color: white;
    padding: 7px 14px;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    padding: 16px 0;
}

header .container {
    display: block;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
}

#form-layout form input {
    padding: 6px 6px;
    margin-bottom: 4px;
    border: 1px solid;
    border-radius: 4px;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


#resposta {
    display: none;
}
